/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
.section-nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
    font-size: 1.1rem;
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}



body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.section-nav ul,  ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.section-nav li {
	margin-left: 1rem;
}

.menu_page h2,h3{
    font-size: 1.3rem;
}
.menu_page h2{
	text-decoration: underline;
}

.menu_page  {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 2rem auto;
	
}
.poster{
	max-width: 96%;
}
.page_content .solid{
	max-width: 96%;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
 section {
	height: auto;
	padding-bottom: 2rem;
}
